// Base

body {
  background: $body-bg image-url("bright_squares.png");
  padding-top: $navbar-height;
}

h2 {
  font-weight: bold;
}

header {
  background: $body-bg;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 0;

  h1 {
    margin: 0;
    img {
      margin: 0 auto;
    }
  }
  .thumbnail {
    margin-bottom: 0;
  }
}

footer {
  padding-bottom: 20px;
  text-align: center;
}

.title {
  border-bottom: 1px solid $well-border;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.list {
  @include horizontal-list;
}

.featured-thread {
  figure {
    position: relative;
  }
  figcaption {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    bottom: 0;
    height: 40px;
    overflow: hidden;
    position: absolute;
  }
}

.thread {
  dd {
    margin-bottom: 40px;
  }
  p {
    font-size: $font-size-large;
    font-weight: bold;
  }
  em {
    color: orange;
    font-size: ceil(($font-size-large * 1.5));
    font-style: normal;
  }
  strong {
    color: red;
    font-size: ceil(($font-size-large * 2));
  }
  .name {
    color: green;
  }
}

.original-thread {
  color: $gray-light;
  font-size: $font-size-small;
  text-align: right;
}

// xs (phone) size
@media (max-width: $screen-xs-max) {
  body {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
