// Variables

// Bootstrap
// =========================
// Components
// -------------------------
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Thumbnails
// -------------------------
$thumbnail-padding: 0;

// Wells
// -------------------------
$well-bg: #f5f5f5;
$well-border: darken($well-bg, 13%);

// Navbar
// -------------------------
$navbar-inverse-link-color: #ccc;
